{% extends 'base/base.html' %}
{% load operations %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="flex items-center justify-between mt-12 text-indigo-400 font-bold text-3xl">
	<div class="flex items-center">
		<span class="iconify w-10 h-10 mr-4" data-icon="uil:hdd"></span>
		File Storage
	</div>
	<div class="flex gap-8">
		<div class="gap-8 hidden" id="func-tools">
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="uil:link-h"></span></button>
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="uil:unlock-alt"></span></button>
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="uil:trash-alt"></span></button>
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="uil:ellipsis-v"></span></button>
		</div>
		<div class="divider-v bg-gray-300 hidden"></div>
		<div class="flex gap-8">
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="tabler:layout-grid"></span></button>
			<button><span class="iconify w-7 h-7 text-gray-700" data-icon="uil:info-circle"></span></button>
		</div>
	</div>
</div>
<div class="text-left text-gray-500 font-semibold border-b-2 border-gray-200 mt-6 flex w-full">
	<p class="w-5/12 py-2">Name</p>
	<p class="w-2/12">Last Modified</p>
	<p class="w-2/12">Date Created</p>
	<p class="w-1/12">Size</p>
	<p class="w-2/12">Tags</p>
</div>
<div class="h-full overflow-y-hidden mt-0.5 tab">
	<table class="w-full" align="left">
		{% for file in files %}
		<tr class="w-5/12 border-b-2 bg-gray-100 transition-all border-gray-200 font-medium text-lg file-row relative" {% ifequal file.type "folder" %}onclick="goto('{{file.name}}', {{ forloop.counter }})"{% endifequal %}>
			<td class="py-3 font-semibold text-xl flex items-center pl-2 pr-4 whitespace-nowrap">
				<span class="iconify w-8 h-8 mr-4 text-indigo-400" data-icon="{% ifequal file.type 'folder' %}bx:bxs-folder{% else %}{% if file.icon %}{{file.icon}}{% else %}bi:file-earmark-fill{% endif %}{% endifequal %}"></span>
				<span class="overflow-ellipsis overflow-hidden" style="max-width: 20rem">{{file.name}}</span>
			</td>
			<td class="w-2/12">{{file.last_mod}}</td>
			<td class="w-2/12">{{file.created}}</td>
			<td class="w-1/12">{% ifequal file.type "file" %}{%fetchshort file.size %}{% else %}-{% endifequal %}</td>
			<td class="w-2/12"></td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="fixed right-6 bottom-6 add">
	<button class="transition-all rounded-full w-16 h-16 shadow-md flex items-center justify-center bg-indigo-400" style="z-index: 9999">
		<span class="iconify w-7 h-7 text-white" data-icon="uil:plus" style="stroke: white; stroke-width: .6px"></span>
	</button>
	<div class="w-96 h-0 absolute bottom-0 right-0 text-gray-500 bg-white rounded-xl shadow-md overflow-hidden">
		<button class="w-full px-8 py-3 pt-3 flex items-center mb-3 gap-4 font-bold text-xl" onclick="newFolderPromptShow()">
			<span class="iconify w-8 h-8" data-icon="uil:folder-plus"></span>
			Create folder
		</button>
		<div class="bg-gray-200 divider-h"></div>
		<button class="w-full px-8 py-3 mt-3 flex items-center gap-4 font-bold text-xl">
			<span class="iconify w-8 h-8" data-icon="uil:file-upload"></span>
			Upload file
		</button>
		<button class="w-full px-8 py-3 flex items-center gap-4 font-bold text-xl">
			<span class="iconify w-8 h-8" data-icon="uil:folder-upload"></span>
			Upload folder
		</button>
	</div>
</div>
<div id="folder-create" class="bg-trans transition-all duration-300 delay-200 w-full h-screen fixed top-0 left-0 flex items-center justify-center invisible">
	<div class="bg-white p-6 rounded-xl shadow-xl">
		<div class="flex items-center text-indigo-400 font-bold text-2xl">
			<span class="iconify w-8 h-8 mr-3" data-icon="uil:folder-plus"></span>
			New Folder
		</div>
		<form>
			<input type="text" class="text-gray-700 border-2 rounded-md border-gray-400 px-4 py-3 w-96 my-6 text-xl font-medium" placeholder="Untitled Folder"/>
			<div class="flex gap-2 justify-end w-full">
				<button class="font-semibold text-lg text-gray-500 px-5 py-2 rounded-md" onclick="newFolderPromptHide()">
					Cancel
				</button>
				<input type="submit" class="bg-indigo-400 font-semibold text-lg text-white px-6 py-2 rounded-md" onclick="createFolder()" value="Create">
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
let selectedItem = null;
const HTMLParser = new DOMParser()

Scrollbar.init(document.querySelector('.tab'));

const goto = (path, id) => {
	if (selectedItem == id) {
		window.location += (!(window.location.href[window.location.href.length-1] === "/") ? "/" : "") + path
	} else {
		if (selectedItem) $(`table tr:nth-child(${selectedItem})`).removeClass('bg-indigo-200')
		selectedItem = id
		$(`table tr:nth-child(${selectedItem})`).addClass('bg-indigo-200')
		$("#func-tools, #func-tools + div").removeClass('hidden').addClass('flex')
	}
}

$("td").mousedown(function(){ return false; })

const arrow = `<svg class="mt-0.5" width="10" height="10" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M3.375 7.5L6.375 4.5L3.375 1.5" stroke="#5E78FF" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`
paths = window.location.pathname.split('/').filter(e => e)
paths = paths.map((e, i) => {
	console.log()
	return `<a href="/${paths.slice(0, i+1).join('/')}">${decodeURI(e)}</a>`
})
$('#breadcrumb').append(paths.slice(0, paths.length-1).join(arrow))
$('#breadcrumb').append(`${paths.length > 1 ? arrow : ""}<span class='font-bold'>${paths[paths.length-1]}</span>`)

const newFolderPromptShow = () => {
	$("#folder-create").removeClass("invisible").addClass('black-op-bg')
	$(".add > div").removeClass('show');
	setTimeout(function() { $('#folder-create input:first-child()').focus() }, 500);
}

const newFolderPromptHide = () => {
	$("#folder-create").addClass("invisible").removeClass('black-op-bg')
}

$("#folder-create form").submit(e => {
	e.preventDefault()

	const folderName = $("#folder-create input").val() || "Untitled Folder";
	const cookie = document.cookie
	const csrfToken = cookie.substring(cookie.indexOf('=') + 1)
	$.ajax({
		url: "{% url 'api-create-folder' %}",
		method: "POST",
		headers: {
			'X-CSRFToken': csrfToken
		},
		data: {
			action: "create-folder",
			path: paths.map(e => HTMLParser.parseFromString(e, "text/xml").children[0].innerHTML),
			name: folderName
		},
		success: () => {
			newFolderPromptHide()
			setTimeout(() => {location.reload();}, 500)
		}
	})
})

$(".add > button").click(() => {
	$(".add > div").addClass('show')
})

$('body').on('click', function (e) {
	if (!$(".add *").is(e.target) && $(".add > div").has(e.target).length === 0 && $(".add > div").is(":visible")) {
		$(".add > div").removeClass('show');
	}
});
{% endblock %} 