* {
	font-family: "Quicksand"
}

.bg-indigo-400 {
	background-color: #5E78FF
}

.bg-indigo-300 {
	background-color: #CCD4FF
}

.text-indigo-400 {
	color: #5E78FF
}

.slash {
	font-family: "Nunito"
}

.nav a {
	position: relative;
	cursor: pointer;
	transition: .2s;

	&:before {
		content: "";
		height: 0;
		width: .2rem;
		background-color: #5E78FF;
		position: absolute;
		top: 0;
		left: 0;
		transition: .2s
	}

	&:hover {
		color: #5E78FF
	}

	&:is(.active, :hover):before {
		height: 100%
	}
}

.file-row {
	cursor: pointer;
	
	&:hover {
		background: #e9e9e9
	}
}